<!DOCTYPE html>
    <html lang="zxx">
    
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Ogani Template">
        <meta name="keywords" content="Ogani, unica, creative, html">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>EasyGreens</title>
    
        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    
        <!-- Css Styles -->
        <link rel="stylesheet" href="/userAssets/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/userAssets/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="/userAssets/css/elegant-icons.css" type="text/css">
        <link rel="stylesheet" href="/userAssets/css/nice-select.css" type="text/css">
        <link rel="stylesheet" href="/userAssets/css/jquery-ui.min.css" type="text/css">
        <link rel="stylesheet" href="/userAssets/css/owl.carousel.min.css" type="text/css">
        <link rel="stylesheet" href="/userAssets/css/slicknav.min.css" type="text/css">
        <link rel="stylesheet" href="/userAssets/css/style.css" type="text/css">
        <link rel="stylesheet" href="/user/signup/css/wishlist.css" type="text/css"> 
        <link rel="stylesheet" href="/user/signup/css/slicknav.min.css" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    </head>
    <style>
        .breadcrumb-section {
            background-image: url("/userAssets/img/breadcrumb.jpg");
        }
        /* Style for the custom scrollbar */
        #couponModal .modal-body::-webkit-scrollbar {
          width: 10px;
          /* Set the width of the scrollbar */
        }
  
        #couponModal .modal-body::-webkit-scrollbar-thumb {
          background-color: rgb(219, 204, 143, 0.7);
          /* Set the color of the thumb */
          border-radius: 5px;
          /* Set the border radius of the thumb */
        }
  
        #couponModal .modal-body::-webkit-scrollbar-track {
          background-color: #f8f9fa;
          /* Set the background color of the track */
        }
    </style>
    
    <body>
        <!-- Header Section Begin -->
        <header class="header">
            <div class="header__top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="header__top__left">
                                <ul>
                                    <li><i class="fa fa-envelope"></i> easygreens@gmail.com</li>
                                    <li>Free Shipping for all Order of ₹ 99</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <% if (user) { %>
                            <div class="header__top__right">
                                <div class="header__top__right__auth">
                                  <a href="/user-account"><i class="fa fa-user"></i> <%= user.firstName %></a>
                                </div>
                            </div>
                            <%} %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="header__logo">
                            <a href="/home"><img src="/userAssets/img/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <nav class="header__menu">
                            <ul>
                                <li class="active"><a href="/home">Home</a></li>
                                <li><a href="/shop">Shop</a></li>
                                <li><a href="#">Pages</a>
                                    <ul class="header__menu__dropdown">
                                        <li><a href="/wishlist">Wishlist</a></li>
                                        <li><a href="/product-cart">Shoping Cart</a></li>
                                        <li><a href="/checkout">Check Out</a></li>
                                    </ul>
                                </li>
                                <li><a href="/contact">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-3">
                        <!-- <div class="header__cart">
                            <ul>
                                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                            </ul>
                            <div class="header__cart__price">item: <span>$150.00</span></div>
                        </div> -->
                    </div>
                </div>
                <div class="humberger__open">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
        </header>
        <!-- Header Section End -->
    
        <!-- Hero Section Begin -->
        <section class="hero">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="hero__categories">
                            <div class="hero__categories__all">
                                <i class="fa fa-bars"></i>
                                <span>Nature's Harvest</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="hero__search">
                            <div class="hero__search__form">
                                <form action="#">
                                    <input type="text" placeholder="What do yo u need?">
                                    <button type="submit" class="site-btn">SEARCH</button>
                                </form>
                            </div>
                            <div class="hero__search__phone">
                                <div class="hero__search__phone__icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="hero__search__phone__text">
                                    <h5>+91 7593014736</h5>
                                    <!-- <span>support 24/7 time</span> -->
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- Hero Section End -->
        <!-- Breadcrumb Section Begin -->
        <section class="breadcrumb-section set-bg" data-setbg="/userAssets/img/breadcrumb.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="breadcrumb__text">
                            <h2>Wishlist</h2>
                       </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Breadcrumb Section End -->


    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            
            
            
            <div class="checkout__form">
                <h4>Billing Details</h4>
                <form action="#">
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <div class="row">
                                <% if (Address) { %>
                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <form>
                                                <div class="form-group">
                                                    <label for="streetAddress">Street Address</label>
                                                    <input type="text" class="form-control"
                                                        id="streetAddress_<%= Address._id %>"
                                                        style="background-color: #f3f2ee;" readonly
                                                        value="<%= Address.streetAddress %>">
                                                </div>
                                                <div class="form-group">
                                                    <label for="apartment">Apartment, suite, unit, etc.
                                                        (optional)</label>
                                                    <input type="text" class="form-control"
                                                        style="background-color: #f3f2ee;" id="apartment_<%= Address._id %>"
                                                        readonly value="<%= Address.houseName %>">
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label for="city">City</label>
                                                        <input type="text" class="form-control" id="city_<%= Address._id %>"
                                                            style="background-color: #f3f2ee;" readonly
                                                            value="<%= Address.town %>">
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="state">State</label>
                                                        <input type="text" class="form-control"
                                                            id="state_<%= Address._id %>" style="background-color: #f3f2ee;"
                                                            readonly value="<%= Address.state %>">
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label for="zip">Zip Code</label>
                                                        <input type="number" minlength="1" maxlength="6"
                                                            class="form-control" style="background-color: #f3f2ee;"
                                                            id="zip_<%= Address._id %>" readonly
                                                            value="<%= Address.zipcode %>">
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="country">Country</label>
                                                        <input type="text" class="form-control"
                                                            id="country_<%= Address._id %>"
                                                            style="background-color: #f3f2ee;" readonly
                                                            value="<%= Address.country %>">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <a href="/add-address"><button id="change" type="button"
                                                            class="btn btn-light text-danger">change Address </button></a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <% } %>
                                </div>
                                <!-- <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Fist Name<span>*</span></p>
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Last Name<span>*</span></p>
                                        <input type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input">
                                <p>Country<span>*</span></p>
                                <input type="text">
                            </div>
                            <div class="checkout__input">
                                <p>Address<span>*</span></p>
                                <input type="text" placeholder="Street Address" class="checkout__input__add">
                                <input type="text" placeholder="Apartment, suite, unite ect (optinal)">
                            </div>
                            <div class="checkout__input">
                                <p>Town/City<span>*</span></p>
                                <input type="text">
                            </div>
                            <div class="checkout__input">
                                <p>Country/State<span>*</span></p>
                                <input type="text">
                            </div>
                            <div class="checkout__input">
                                <p>Postcode / ZIP<span>*</span></p>
                                <input type="text">
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Phone<span>*</span></p>
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Email<span>*</span></p>
                                        <input type="text">
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="checkout__input__checkbox">
                                <label for="acc">
                                    Create an account?
                                    <input type="checkbox" id="acc">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <p>Create an account by entering the information below. If you are a returning customer
                                please login at the top of the page</p>
                            <div class="checkout__input">
                                <p>Account Password<span>*</span></p>
                                <input type="text">
                            </div>
                            <div class="checkout__input__checkbox">
                                <label for="diff-acc">
                                    Ship to a different address?
                                    <input type="checkbox" id="diff-acc">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="checkout__input">
                                <p>Order notes<span>*</span></p>
                                <input type="text"
                                    placeholder="Notes about your order, e.g. special notes for delivery.">
                            </div> -->
                        </div>

                        <div class="col-lg-4 col-md-6">
                                    <div class="cart__discount">
                                        <h6 id="couponButton" onclick="openCouponModal()">Discount codes</h6>
                                        <form action="#">
                                            <input type="text" id="couponField" placeholder="Coupon code">
                                            <button class="site-btn" id="apply-coupon" type="button" data-applied="false">Apply</button>
                                            <!-- <button class="site-btn" id="remove-coupon" type="button"> Remove</button> -->
                                        </form>
                                        
                                        
                                    </div>
                                    <!-- <div class="col-lg-3">
                                        <div class="shoping__continue">
                                            <div class="shoping__discount">
                                                <h5>Discount Codes</h5>
                                                <form action="#">
                                                    <input type="text" placeholder="Enter your coupon code">
                                                    <button type="submit" class="site-btn">APPLY COUPON</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div> -->
                                    <input type="hidden" name="cart" value="<%=cartProducts%>" id="cart">
                                    <% if (typeof couponName !=='undefined' && typeof couponCode !=='undefined' ) { %>
                                        <input type="hidden" id="couponname" value="<%=couponName%>">
                                        <input type="hidden" id="couponcode" value="<%=couponCode%>">
                                        <% } %>

                                    <div class="checkout__order">
                                        <h4 class="order__title">Your order</h4>
                                        <div class="checkout__order__products">Product <span>Total</span></div>
                                        <ul class="checkout__total__products">
                                            <% cartProducts.products.forEach(product=> { %>
                                                
                                                <li>
                                                    
                                                    <%= product?.productID?.productName ?
                                                        product.productID.productName: 'N/A' %>
                                                        <span id="total_<%= product?.productID._id %>">
                                                            ₹<%= product?.productID?.Prize * product?.quantity %>
                                                        </span>
                                                </li>
                                                <% }); %>
                                        </ul>
                                        <ul class="checkout__total__all">
                                            <li id="coupondeducted">Discount<span>₹ 0</span></li>
                                            
                                            <input type="hidden" id="subtotal" value="<%=subtotal%>">
                                            <input type="hidden" id="user" value="<%=walletAmount%>">
                                            <li id="discount">Total <span>₹<%=subtotal%></span></li>
                                           
                                            <li id="walletbox"> 
                                                <input type="checkbox" id="Wallet-Money"> Use Wallet-Money
                                                        <span id="walletAmount">
                                                          ₹ <%= walletAmount %>
                                                        </span>
                                                </input>
                                            </li>
                                            
                                          
                                        </ul>
                                        <div class="checkout__input__checkbox">
                                            <label for="cod">
                                                Cash on delivery
                                                <input type="radio" id="cod" value="cod" name="payment">
                                                <span class="checkmark"></span>
                                            </label>
                                            <label for="netbanking">
                                                Net Banking
                                                <input type="radio" id="netbanking" value="netbanking" name="payment">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <!-- <div class="checkout__input__checkbox">
                                  
                                </div> -->
                                        <% if (Address) { %>
                                            <button  data-addres="<%=Address._id%>" type="button"
                                                class="place-order site-btn">PLACE ORDER
                                            </button>
                                            <% } %>
                                    </div>
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->


   <!-- Modal to display coupon details -->
   <div class="modal fade" id="couponModal" tabindex="-1" role="dialog" aria-labelledby="couponModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="couponModalLabel">Available Coupons</h5>
         <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body" style="height: 360px; overflow-y: scroll; overflow-x: hidden;">
         <% if(coupons.length> 0) { %>
           <% coupons.forEach(coupon=> { %>
             <div class="card mb-3 d-flex flex-column align-items-center">
               <div class="card-body" style="background-color: rgb(246, 246, 246); width: 468px;">
                 <h5 class="card-title text-center" id="couponCode">
                   <%= coupon.couponCode %>
                 </h5>
                 <p class="card-text text-center" id="couponDescription" style="font-size: smaller;">
                  Maximum discountAmount is <%= coupon.discountAmount %>
                 </p>
                 <div class="row">
                  
                   <div class="col-md-4">
                     <!-- Center the image using Bootstrap utility classes -->
                     <!-- <img src="/assets/images/pngwing1.webp" alt="" width="60px" class="mx-auto d-block"> -->
                   </div>
                   
                 </div>
               </div>
             </div>
             <% }) %>

               <% } else { %>
                 <div class="card mb-3" style="background-color: rgb(215, 215, 215);">
                   <div class="card-body">
                     <h6 class="card-title text-center" id="couponCode">No coupons found</h6>
                   </div>
                 </div>
                 <% } %>
       </div>
     </div>
   </div>
 </div>




 
    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="img/logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: 60-49 Road 11378 New York</li>
                            <li>Phone: +65 11.188.888</li>
                            <li>Email: hello@colorlib.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">About Our Shop</a></li>
                            <li><a href="#">Secure Shopping</a></li>
                            <li><a href="#">Delivery infomation</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Our Sitemap</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Who We Are</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Innovation</a></li>
                            <li><a href="#">Testimonials</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                        <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/userAssets/js/jquery-3.3.1.min.js"></script>
    <script src="/userAssets/js/bootstrap.min.js"></script>
    <script src="/userAssets/js/jquery.nice-select.min.js"></script>
    <script src="/userAssets/js/jquery-ui.min.js"></script>
    <script src="/userAssets/js/jquery.slicknav.js"></script>
    <script src="/userAssets/js/mixitup.min.js"></script>
    <script src="/userAssets/js/owl.carousel.min.js"></script>
    <script src="/userAssets/js/main.js"></script>

    <script>

        function openCouponModal() {
          $('#couponModal').modal('show');
      
        }


        document.querySelectorAll('.place-order').forEach(button => {
    button.addEventListener('click', () => {
        // Retrieve the original subtotal
        let subtotalElement = document.getElementById('subtotal');
        let subtotal = parseFloat(subtotalElement.value);

        // Retrieve the discount amount if a coupon has been applied
        let discountElement = document.getElementById('discount').querySelector('span');
        let discountAmount = 0;
        if (discountElement && discountElement.textContent.trim() !== "") {
            discountAmount = parseFloat(discountElement.innerText.replace('₹', ''));
        }

        // Calculate the final amount
        let finalAmount = subtotal;
        if (discountAmount > 0) {
            finalAmount -= discountAmount;
        }
        if (finalAmount === 0) {
            finalAmount = subtotal;
        }

        const shippingID = button.getAttribute('data-addres');

        const radio = document.getElementsByName('payment');
        let paymentMethod = 0;

        for (let i = 0; i < radio.length; i++) {
            if (radio[i].checked) {
                paymentMethod = radio[i].value;
            }
        }

        if (paymentMethod == 0) {
            Swal.fire({
                text: "Please select a payment method!",
                icon: "warning"
            });
        } else {
            Swal.fire({
                title: "Confirm Order",
                text: 'Are you sure you want to proceed?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, place order!'
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch('/place-order', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            shippingID, paymentMethod, finalAmount
                        })
                    }).then(response => {
                        return response.json();
                    }).then(data => {
                        if (data) {
                            let value = data.value;
                            if (value == 0) {
                                setTimeout(() => {
                                    location.href = '/order-placed';
                                }, 1000);
                            } else if (value == 1) {
                                let link = data.link;
                                location.href = link;
                            } else if (value == 2) {
                                Swal.fire({
                                    text: "We're sorry, but this product is currently out of stock. Please remove it from your cart or check back later. Thank you",
                                    icon: "error"
                                });
                            }
                        }
                    }).catch(error => {
                        console.log("Fetch Error:", error);
                    });


                    if (paymentMethod == 'netbanking') {
                        let timerInterval;
                        Swal.fire({
                            title: "Redirecting!",
                            html: "Redirect to Paypal in <b></b> milliseconds.",
                            timer: 2000,
                            timerProgressBar: true,
                            didOpen: () => {
                                Swal.showLoading();
                                const timer = Swal.getPopup().querySelector("b");
                                timerInterval = setInterval(() => {
                                    timer.textContent = `${Swal.getTimerLeft()}`;
                                }, 300);
                            },
                            willClose: () => {
                                clearInterval(timerInterval);
                            }
                        }).then((result) => {
                            if (result.dismiss === Swal.DismissReason.timer) {
                            }
                        });
                    }
                }
            });
        }
    });
});


        async function openModal() {

            var country
            var zip
            var state
            var city
            var apartment
            var streetAddress

            const { value: formValues } = await Swal.fire({
                title: "shipping address",
                html: `
                
                <div class="card">
            <div class="card-body">
            <form action="/admin/user-account" method= "post">
                <div class="form-group">
                    <input type="text" name="address" class="form-control" id="Address" placeholder="Enter street address" required>
                </div>
                <div class="form-group">
                    <input type="text" name="apartment" class="form-control" id="apartments" placeholder="Enter house name or apartment">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" name="city" class="form-control" id="town" placeholder="Enter city" required>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" name="State" class="form-control" id="State" placeholder="Enter state" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="number" minlength="1" maxlength="6" class="form-control" name="zip" id="zipcode" placeholder="Enter zip code" required>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="countries" name="countries" placeholder="Enter country" required>
                    </div>
                </div>
                <form>
            </div>
            </div>

                `,
                focusConfirm: false,
                allowOutsideClick: false,
                showCancelButton: true,
                preConfirm: () => {
                    streetAddress = document.getElementById("Address").value
                    apartment = document.getElementById("apartments").value
                    city = document.getElementById("town").value
                    state = document.getElementById("State").value;
                    zip = document.getElementById("zipcode").value
                    country = document.getElementById("countries").value


                    if (!streetAddress || !apartment || !city || !state || !zip || !country) {
                        Swal.showValidationMessage('All fields are required');
                        return false;
                    }
                }
            });
            fetch('/user-account', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    streetAddress, city, zip, state, apartment, country
                })
            }).then(response => {
                return response.json()
            }).then(data => {
                if (data) {
                    Swal.fire({
                        position: "center",
                        icon: "success",
                        title: "shipping address has been saved",
                        showConfirmButton: false,
                    }); setTimeout(() => {
                        location.reload()
                    }, 1000);
                }
            }).catch(error => {
                console.log(error);
            })

        }


        window.addEventListener('load', () => {
            let walletAmount = document.getElementById('user').value;

            if (walletAmount == 0) {
                $("#walletbox").hide()
            }
            const couponName = document.getElementById('couponname').value
            const couponCode = document.getElementById('couponcode').value;
            let applied = false
            if (couponName && couponCode) {
                setTimeout(function () {
                    Swal.fire({
                        title: 'Congratulations!',
                        html: `
                              <div class="animate__animated animate__fadeInUp animate__faster" style="text-align: center;">
                              <p style="font-size: 18px;">${couponName}:</p>
                              <p style="font-size: 24px; color: #333;">Use code: <strong id="couponCode">${couponCode}</strong></p>
                               <button onclick="copyCode()" style="background-color: #4CAF50; color: white; border: none; padding: 10px; cursor: pointer;">Copy Code</button>
                              </div>
                            `,
                        position: 'top-center',
                        showClass: {
                            popup: 'animate__animated animate__fadeInUp animate__faster'
                        },
                        hideClass: {
                            popup: 'animate__animated animate__fadeOutDown animate__faster'
                        },
                        customClass: {
                            popup: 'custom-swal-popup' // Add a custom class for additional styling if needed
                        },
                        showConfirmButton: false,
                    });
                }, 1000);
            }


        })

        function copyCode() {
            let couponCodeElement = document.getElementById('couponCode');

            // Create a temporary textarea element
            let tempTextarea = document.createElement('textarea');
            tempTextarea.value = couponCodeElement.innerText;

            // Append the textarea to the document
            document.body.appendChild(tempTextarea);

            // Select the text inside the textarea
            tempTextarea.select();
            tempTextarea.setSelectionRange(0, 99999); // For mobile devices

            try {
                // Attempt to copy the selected text to the clipboard
                document.execCommand('copy');

                const Toast = Swal.mixin({
                    toast: true,
                    position: "top",
                    showConfirmButton: false,
                    timer: 1000,
                    timerProgressBar: false,
                    didOpen: (toast) => {
                        toast.onmouseenter = Swal.stopTimer;
                        toast.onmouseleave = Swal.resumeTimer;
                    }
                });
                Toast.fire({
                    icon: "success",
                    title: "code copied !"
                });
            } catch (err) {
                console.error('Unable to copy to clipboard', err);
                Swal.fire({
                    icon: 'error',
                    title: 'Error copying Coupon Code',
                    showConfirmButton: false,
                    timer: 1500
                });
            } finally {
                // Remove the temporary textarea from the document
                document.body.removeChild(tempTextarea);
            }
        }

        document.getElementById('Wallet-Money').addEventListener('click', () => {
            // Directly use the checked property of the checkbox
            let status = document.getElementById('Wallet-Money').checked;
            let subtotals = document.getElementById('subtotal').value;
            let walletAmount = document.getElementById('user').value;
            var discountElement = document.getElementById('discount');
            var amount = discountElement.querySelector('span').innerHTML;
            let subtotal = parseInt(amount.replace('₹', ''));
            var spanElement = discountElement.querySelector('span');
            var walletfield = document.getElementById('walletAmount');

            if (status) {
                let walletUsedMoney = parseInt(subtotal - walletAmount);
                walletUsedMoney = Math.max(walletUsedMoney, 0)
                spanElement.textContent = `₹ ${walletUsedMoney}`
                walletAmount -= subtotal
                walletAmount = Math.max(walletAmount, 0)
                walletfield.textContent = `₹ ${walletAmount}`
            } else {
                spanElement.textContent = `₹ ${subtotals}`
                walletfield.textContent = `₹ ${walletAmount} `

            }

        });

        document.getElementById('apply-coupon').addEventListener('click', () => {
    // Check if coupon is already applied
    if (couponApplied) {
        let couponCode = document.getElementById('couponField').value;

        fetch('/verifyCoupon', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                couponCode, couponApplied
            })
        }).then(response => {
            return response.json();
        }).then(data => {
            if (data) {
                if (data.status == 404) {
                    const Toast = Swal.mixin({
                        toast: true,
                        position: "top",
                        showConfirmButton: false,
                        timer: 1000,
                        timerProgressBar: false,
                        didOpen: (toast) => {
                            toast.onmouseenter = Swal.stopTimer;
                            toast.onmouseleave = Swal.resumeTimer;
                        }
                    });
                    Toast.fire({
                        icon: "error",
                        title: "Invalid code!"
                    });
                } else if (data.status == 400) {
                    const Toast = Swal.mixin({
                        toast: true,
                        position: "top",
                        showConfirmButton: false,
                        timer: 1000,
                        timerProgressBar: false,
                        didOpen: (toast) => {
                            toast.onmouseenter = Swal.stopTimer;
                            toast.onmouseleave = Swal.resumeTimer;
                        }
                    });
                    Toast.fire({
                        icon: "error",
                        title: "already used !"
                    });
                } else {
                    // Disable the button once the coupon is applied
                    couponApplied = false;
                    document.getElementById('apply-coupon').disabled = true;
                    document.getElementById('apply-coupon').style.cursor = 'not-allowed';
                    let discountAmount = data.discountAmount;
                    var discountElement = document.getElementById('discount');
                    var amount = discountElement.querySelector('span').innerHTML;
                    var spanElement = discountElement.querySelector('span');
                    let subtotal = parseFloat(amount.replace('₹', ''));
                    let discountApplied = subtotal - parseFloat(discountAmount);
                    const discountAmountElement = document.getElementById('coupondeducted'); // Use the new ID
                    discountAmountElement.textContent = `Discount: ₹ ${discountAmount}`;

                    spanElement.innerHTML = `₹ ${discountApplied}`;
                    const Toast = Swal.mixin({
                        toast: true,
                        position: "top",
                        showConfirmButton: false,
                        timer: 1000,
                        timerProgressBar: false,
                        didOpen: (toast) => {
                            toast.onmouseenter = Swal.stopTimer;
                            toast.onmouseleave = Swal.resumeTimer;
                        }
                    });
                    Toast.fire({
                        icon: "success",
                        title: "coupon applied !"
                    });
                }
            }
        }).catch(error => {
            console.log(error);
        });
    }
});


        let couponApplied = true;        


        document.getElementById('generateCoupon').addEventListener('click', () => {


            function generateRandomCoupon(length) {
                const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
                let coupon = '';


                for (let i = 0; i < length; i++) {
                    const randomIndex = Math.floor(Math.random() * characters.length);
                    coupon += characters.charAt(randomIndex);
                }
                return coupon;
            }


            const randomCoupon = generateRandomCoupon(8);


            document.getElementById('couponCode').value = randomCoupon

        })

        document.addEventListener('DOMContentLoaded', function() {

            function removeCoupon() {

                // Reset the coupon field value
                document.getElementById('couponField').value = '';

                // Update the data-applied attribute to indicate no coupon is applied
                document.getElementById('apply-coupon').setAttribute('data-applied', 'false');

                // Enable the Apply button
                document.getElementById('apply-coupon').disabled = false;
                document.getElementById('apply-coupon').style.cursor = 'pointer';

                // Reset the discount amount to its original value
                var discountElement = document.getElementById('discount');
                var originalAmount = discountElement.getAttribute('data-original-amount');
                var spanElement = discountElement.querySelector('span');
                spanElement.innerHTML = `₹ ${originalAmount}`;


                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top',
                    showConfirmButton: false,
                    timer: 1000,
                    timerProgressBar: false,
                    didOpen: (toast) => {
                        toast.onmouseenter = Swal.stopTimer;
                        toast.onmouseleave = Swal.resumeTimer;
                    }
                });
                Toast.fire({
                    icon: 'success',
                    title: 'Coupon removed!'
                });
            }

            document.getElementById('remove-coupon').addEventListener('click', function() {
                removeCoupon();
            });
        });



    

    </script>

    

</body>

</html>
