<!DOCTYPE html>
    <html lang="zxx">
    
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Ogani Template">
        <meta name="keywords" content="Ogani, unica, creative, html">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>EasyGreens</title>
    
        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    
        <!-- Css Styles -->
        <link rel="stylesheet" href="/userAssets/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/userAssets/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="/userAssets/css/elegant-icons.css" type="text/css">
        <link rel="stylesheet" href="/userAssets/css/nice-select.css" type="text/css">
        <link rel="stylesheet" href="/userAssets/css/jquery-ui.min.css" type="text/css">
        <link rel="stylesheet" href="/userAssets/css/owl.carousel.min.css" type="text/css">
        <link rel="stylesheet" href="/userAssets/css/slicknav.min.css" type="text/css">
        <link rel="stylesheet" href="/userAssets/css/style.css" type="text/css">
        <link rel="stylesheet" href="/user/signup/css/wishlist.css" type="text/css"> 
    </head>
    <style>
        .breadcrumb-section {
            background-image: url("/userAssets/img/breadcrumb.jpg");
        }
    </style>
    
    <body>
        <!-- Header Section Begin -->
        <header class="header">
            <div class="header__top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="header__top__left">
                                <ul>
                                    <li><i class="fa fa-envelope"></i> easygreens@gmail.com</li>
                                    <li>Free Shipping for all Order of ₹ 99</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <% if (user) { %>
                            <div class="header__top__right">
                                <div class="header__top__right__auth">
                                  <a href="/user-account"><i class="fa fa-user"></i> <%= user.firstName %></a>
                                </div>
                            </div>
                            <%} %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="header__logo">
                            <a href="/home"><img src="/userAssets/img/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <nav class="header__menu">
                            <ul>
                                <li class="active"><a href="/home">Home</a></li>
                                <li><a href="/shop">Shop</a></li>
                                <li><a href="#">Pages</a>
                                    <ul class="header__menu__dropdown">
                                        <li><a href="/wishlist">Wishlist</a></li>
                                        <li><a href="/product-cart">Shoping Cart</a></li>
                                        <li><a href="/checkout">Check Out</a></li>
                                    </ul>
                                </li>
                                <li><a href="/contact">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-3">
                        <!-- <div class="header__cart">
                            <ul>
                                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                            </ul>
                            <div class="header__cart__price">item: <span>$150.00</span></div>
                        </div> -->
                    </div>
                </div>
                <div class="humberger__open">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
        </header>
        <!-- Header Section End -->
    
        <!-- Hero Section Begin -->
        <section class="hero">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="hero__categories">
                            <div class="hero__categories__all">
                                <i class="fa fa-bars"></i>
                                <span>Nature's Harvest</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="hero__search">
                            <div class="hero__search__form">
                                <form action="#">
                                    <input type="text" placeholder="What do yo u need?">
                                    <button type="submit" class="site-btn">SEARCH</button>
                                </form>
                            </div>
                            <div class="hero__search__phone">
                                <div class="hero__search__phone__icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="hero__search__phone__text">
                                    <h5>+91 7593014736</h5>
                                    <!-- <span>support 24/7 time</span> -->
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- Hero Section End -->
        <!-- Breadcrumb Section Begin -->
        <section class="breadcrumb-section set-bg" data-setbg="/userAssets/img/breadcrumb.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="breadcrumb__text">
                            <h2>Wallet</h2>
                       </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Breadcrumb Section End -->




    <section>
        <div class="container wallet-container mt-5 mb-4">
            <div class="col-md-12">
                <div class="text-center rounded p-4 " style="background-color: #f3f2ee;">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="checkout__title mb-0">wallet History</h6>
                        <button id="showAllBtn" class="btn btn-light btn-sm">Show All</button>
                        <button id="showLessBtn" class="btn btn-light btn-sm" style="display: none;">Show Less</button>
                    </div>
                    <% if (walletdata && walletdata.wallet.walletHistory.length> 0) { %>

                        <% walletdata.wallet.walletHistory.forEach((transaction,index)=> {%>
                            <ul class="transaction-list d-flex align-items-center">
                                <!-- Transaction History Items -->
                                <li
                                    class="transaction-item d-flex justify-content-between w-100 additional-transaction">
                                    <span class="transaction-date">
                                        <%=transaction.date.toLocaleString()%>
                                    </span>
                                </li>
                                <li
                                    class="transaction-item d-flex justify-content-between w-100 additional-transaction">
                                <li
                                    class="transaction-item d-flex justify-content-between w-100 additional-transaction">
                                    <span class="reason">reason : <%=transaction.reason%></span>
                                </li>
                                <li
                                    class="transaction-item d-flex justify-content-between w-100 additional-transaction">
                                    <span class="<%=transaction.type%>">
                                        <%= transaction.type=='credit' ? 'credited' : 'debited' %>
                                    </span>
                                </li>
                                <li
                                    class="transaction-item d-flex justify-content-between w-100 additional-transaction">
                                    <span class="amount <%=transaction.type%>">
                                        <%= transaction.type=='credit' ? '+' : '-' %>
                                            <%= transaction.amount %>
                                    </span>
                                </li>
                                <!-- Add more transactions as needed -->
                            </ul>
                            <% }) %>
                                <% } else { %>
                                    <p class="text-danger">No wallet history found!</p>
                                    <% } %>
                </div>
                <div class="text-center rounded p-4 mt-4" style="background-color: #f3f2ee;">
                    <div class="checkout__title d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Balance</h6>
                    </div>
                    <div class="text-uppercase font-awesome font-weight-bold">
                        Balance : ₹ <%=walletdata?.wallet?.walletAmount%>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer Section Begin -->
    
    <!-- Footer Section End -->


